<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="MyActivation" connectionString="Data Source=.;Initial Catalog=bytecoml_MyActivation;Persist Security Info=True;User ID=dbuser1;Password=ByteDbUs3rP@ss"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
		</compilation>
	</system.web>
	<appSettings>
	</appSettings></configuration>
