<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GT1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GT1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <GT1.My.MySettings>
            <setting name="ActivatedDate" serializeAs="String">
                <value />
            </setting>
            <setting name="IsDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUpdateReady" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsActivated" serializeAs="String">
                <value>False</value>
            </setting>
        </GT1.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsSoap" />
                <binding name="MyActivationSoap" />
                <binding name="MyUpdateSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.byte.com.ly/ws.asmx" binding="basicHttpBinding"
                bindingConfiguration="wsSoap" contract="WebServiceUpdateUri.wsSoap"
                name="wsSoap" />
            <endpoint address="http://www.byte.com.ly/WebServices/MyActivation.asmx"
                binding="basicHttpBinding" bindingConfiguration="MyActivationSoap"
                contract="WebServiceMyActivation.MyActivationSoap" name="MyActivationSoap" />
            <endpoint address="http://www.byte.com.ly/WebServices/MyUpdate.asmx"
                binding="basicHttpBinding" bindingConfiguration="MyUpdateSoap"
                contract="WebServiceMyUpdate.MyUpdateSoap" name="MyUpdateSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <GT1.My.MySettings>
            <setting name="EhabTest" serializeAs="String">
                <value>true</value>
            </setting>
        </GT1.My.MySettings>
    </applicationSettings>
</configuration>